#chat-screen{
  background-color: #abc1d1;
  height:500vh;
}

#chat-screen .alt-header{
  top:0;
  position:fixed;
  width:100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar{
  z-index:1;
}

@keyframes fadeIn{
  0%{
    opacity:0;
    transform:none;
  }
  1%{
    opacity:0;
    transform:translateY(30px);
  }
  100%{
    opacity:1;
    transform:none;
  }

}

.main-chat{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:110px;
  font-size:14px;
  animation:fadeIn .3s linear;
}

.chat__timestamp{
  color:white;
  background-color: #92a4b2;
  padding:15px 20px;
  border-radius: 25px;
  margin-bottom:25px;
}

.message-row{
  width:100%;
  display:flex;
  margin-bottom:25px;
}

.message-row img{
  width:50px;
  height:50px;
  border-radius:40%;
  margin-right:10px;
}

.message__author{
  margin-bottom:5px;
  display:block;
}

.message__bubble{
  background-color: white;
  padding:13px;
  border-radius:15px;
  border-top-left-radius:0px;
  margin-right:5px;
  font-size:18px;
}

.message__info{
  display:flex;
  align-items: flex-end;
}

.message__author,
.message__time{
  opacity: 0.8;
  font-size: 15px;
}

.message-row--own{
   justify-content: flex-end;
}

.message-row--own .message__bubble{
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius:15px;
  margin-right:0px;
  margin-left:5px;
}

.message-row--own .message__info{
  flex-direction: row-reverse;
}

.reply{
  position:fixed;
  bottom:0;
  width:100%;
  background-color: white;
  display:flex;
  justify-content: space-between;
  padding:5px;
  padding-right:32px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child{
  width:10%;
  display:flex;
  justify-content: center;
}

.reply .reply__column:last-child{
  width:90%;
  position:relative;
}

.reply input{
  padding:12px;
  width:100%;
  border:var(--main-border);
  border-radius: 20px;
  transition:all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button{
  position:absolute;
  right:-23px;
  top:3px;
}

.reply__column:last-child > i{
  right:20px;
  top:5px;
}

.reply__column button{
  background-color: var(--yellow);
  border:none;
  width:35px;
  height:35px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active{
  outline:none;
}


.reply i{
  opacity: 0.5;
}

.reply__column button i{
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button{
  transition:opacity 0.3s ease-in-out;
}


.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button{
  opacity:0;
}


.reply:focus-within input{
  width:90vw;
  transform:translateX(-9%);
}