.nav{
  position:fixed;
  bottom:0;
  width:100%;
  box-sizing:border-box;
  background-color:#f9f9fa;
  padding:20px 50px;
  border-top:1px solid rgba(0, 0, 0, 0.25);
}

.nav__list{
  display:flex;
  justify-content:space-between;
}

.nav__link{
  position:relative;
  color:#2e363e;
}

.nav__notification{
  background-color:tomato;
  width:30px;
  height:30px;
  border-radius:15px;
  display:flex;
  justify-content:center;
  align-items: center;
  color:white;
  font-weight: 600;
  position:absolute;
  left:15px;
  bottom:15px;
}

.nav__notification2{
  background-color:tomato;
  width:7px;
  height:7px;
  border-radius:3.5px;
  display:flex;
  justify-content:center;
  align-items: center;
  position:absolute;
  left:35px;
  bottom:28px;
}